@import url("https://fonts.cdnfonts.com/css/segoe-ui-4");

* {
  box-sizing: border-box !important;
  font-family: "Segoe UI", sans-serif;
}

html {
  // font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(
    -225deg,
    #a445b2 0%,
    #d41872 52%,
    #ff0066 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  margin-top: 3rem;
}
header h1 {
  color: white;
}
.lista-citas .media {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 3rem;
}

.lista-citas .media:last-of-type {
  border-bottom: 0;
}
.lista-citas .media-body p {
  margin: 0;
}
.lista-citas .media-body button {
  margin-top: 1rem !important;
}
.lista-citas .media-body span {
  font-weight: bold;
}
